/* footer contact */
@media screen and (max-width: 1250px) {
  footer div.contact div.main {
    width: 900px;
  }
}

@media screen and (max-width: 950px) {
  footer div.contact {
    height: 100px;
    padding: 20px;
  }

  footer div.contact div.main {
    width: 800px;
  }

  footer div.contact div.main div.item i {
    font-size: 20px;
  }

  footer div.contact div.main div.item p {
    font-size: 13px;
  }

  div.carousel {
    position: relative;
  }
}

@media screen and (max-width: 850px) {
  footer div.contact {
    height: auto;
  }

  footer div.contact div.main {
    display: block;
    width: 90%;
  }

  footer div.contact div.main div.item {
    display: block;
    height: auto;
    width: 100%;
  }

  footer div.contact div.main div.item i {
    font-size: 17px;
    text-align: center;
    width: 100%;
  }

  footer div.contact div.main div.item p {
    /* margin-top: 5px; */
  }
}

@media screen and (max-width: 640px) {
  #back-to-top-btn {
    font-size: 16px;
    width: 10%;
    height: 5%;
    bottom: 50px;
    right: 8px;
  }
}

/* footer copyright */
@media screen and (max-width: 640px) {
  footer div.copyright {
    display: block;
    height: 100%;
  }

  footer div.copyright p {
    font-size: 12px;
    padding: 10px 0;
    position: relative;
  }
}
