@media screen and (max-width: 1024px) {
  div.carousel .carousel-inner .carousel-item img {
    width: 100%;
    min-height: 100vh;
  }
}

@media screen and (max-width: 640px) {
  div.container .bupati img {
    width: 50%;
  }
  div.container .wakil-bupati img {
    width: 50%;
    margin-left: 45%;
  }
}

@media screen and (max-width: 640px) {
  div.st2-slide-content {
    color: #fff;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: normal;
    display: inline-block;
    width: 100%;
  }
  div.st2-slide-content .st2-slide-title {
    font-size: 14px;
  }
  div.st2-slide-content .st2-slide-title .welcome {
    font-size: 20px;
  }
  div.st2-slide-content .sub-welcome {
    font-size: 14px;
  }
  div.st2-slide-content .minor-sub {
    font-size: 14px;
  }
  div.arrow {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 640px) {
  .layanan-mobile {
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: flex !important;
    flex-direction: row !important;
  }
}

@media screen and (max-width: 640px) {
  div.img-beranda {
    width: 100%;
    max-height: 200px;
    vertical-align: auto;
    overflow: hidden;
  }
}
@media screen and (max-width: 640px) {
  .img-berikutnya img {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .title-recent {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
